td {
  border: black 1px solid;
}

.table {
  border-spacing: 0;
  border: 1px black solid;
  border-spacing: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1 {
 text-align: center;
}

input {
  margin-bottom: 20px;
}

.outer-wrapper {
  display: flex;
  flex: 1 1 auto;
}

.inner-wrapper{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#calculate_table {
  margin-left: 20px;
}